<!-- templates/_base.html -->

{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pave Mobility Support Portal</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"> 
    {% endcompress %}

</head>



<body class="bg-gray-50 dark:bg-gray-800 scrollbar scrollbar-w-3 scrollbar-thumb-rounded-[0.25rem] scrollbar-track-slate-200 scrollbar-thumb-gray-400 dark:scrollbar-track-gray-900 dark:scrollbar-thumb-gray-700">
    {% block navbar %}
        {% include 'layouts/partials/navbar-main.html' %}
    {% endblock %}

    {% include 'layouts/partials/sidebar.html' %}

    <main class="bg-gray-50 dark:bg-gray-900">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'layouts/partials/footer-main.html' %}

    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="/static/pave_support_portal.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/datepicker.min.js"></script>
</body>

</html>